<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="js/graphService.js"></script>
    <script src="js/lodash.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <title>GrphMe</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <div class="container">
        <div class="page-header">
            <h1>GrphMe</h1>
        </div>
        
        <div data-ng-app="GrphMeApp">
            <h1 id="graphTitle"></h1>
            <div id="graphContainer">
                <div class="graphBtn"><img src="img/up-arrow.png"></div>
                <svg id="Graph" class="graph" preserveAspectRatio="xMinYMin meet">
                    
                    <g class="grid" id="Grid"></g>
                    
                    <g class="gridLabels" id="GridLabels"></g>
                    
                    <g class="surfaces" id="Surfaces">
                        <path id="graphLines" d=""></path>
                    </g>
                    
                    <g class="dataPoints" id="DataPoints"></g>
                    
                </svg>
            </div>
            <div ng-controller="YearController">
                <table class="table" ng-repeat="year in earningYears.children">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Quarters</th>
                            <th>Months</th>
                            <th>Earnings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{year.label}}<td>
                            <td></td>
                            <td>{{year.earnings}}</td>
                        </tr>
                        <tbody ng-repeat="quarter in year.children">
                            <tr>
                                <td></td>
                                <td>{{quarter.label}}</td>
                                <td></td>
                                <td>{{quarter.earnings}}</td>
                            </tr>
                            <tr ng-repeat="month in quarter.children">
                                <td></td>
                                <td></td>
                                <td>{{month.label}}</td>
                                <td>{{month.earnings}}</td>
                            </tr>
                        </tbody>
                    </tbody>
                </table>
            </div>
            
        </div>
          
        <div class="page-footer">
            <p>Timothy Delaforce</p>
        </div>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
        });
</script>
  </body>
</html>